<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Portal de Datos del Sistema Nacional de Datos Biológicos</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/sndb2.css" rel="stylesheet">
<style>
#encuesta {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
</style>
</head>
<body>

	<div class="container">
		<div class="row" >
			<div class="span1">&nbsp;</div>
			<div class="span5">
			  <a href="#"><img src="images/logo_portal.png" alt="Portal del SNDB"></a>
			</div>
			<div class="span5">
			  <a href="#" class="pull-right"><img src="images/logo_datos_biologicos.png" alt="Sistemas Nacionales - Datos Biológicos"></a>
			</div>
			<div class="span1">&nbsp;</div>
		</div>
	</div>
	<div class="navbar navbar-inverse" >
		  <div class="navbar-inner" style="padding:0;">
			<ul class="nav" >
				<li><a href="/">INICIO</a></li>
				<li><a href="/generic-hub/occurrences/search?q=*%3A*#tab_mapView">DATOS GEORREFERENCIADOS</a></li>
				<li><a href="/collectory/datasets">CONJUNTOS DE DATOS</a></li>
				<li><a href="/collectory">COLECCIONES</a></li>
				<li><a href="/feedback.html">FEEDBACK</a></li>
			</ul>
		  </div>
	</div>
	<div class="container-fluid">
		<iframe id="encuesta" src="https://docs.google.com/forms/d/1hjkZA6hI4iUB4JxeLi1jMNtwqfAFe6x9olqga-W9S3M/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>	</div>
	</div>

	<!-- javascript al final para que cargue rapido el html -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<script src="js/sndb.js"></script>-->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85741610-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html> 
